.cat-card {
  position: relative;
  width: 320px;
  height: 480px;

  &__container-corner {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 4px solid $colorMain;
    border-radius: 14px;
    clip-path: polygon(0 0, 35px 0, 0 35px);

    &_hovered {
      border: 4px solid $colorHovered;
    }

    &_selected {
      border: 4px solid $colorSelected;
    }

    &_selected-hovered {
      border: 4px solid $colorSelectedHovered;
    }

    &_disabled {
      border: 4px solid $colorDisabled;
    }
  }

  &__container-white {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 312px;
    height: 472px;
    background-color: $colorWhite;
    border-radius: 11px;
    clip-path: polygon(41px 0, 100% 0, 100% 100%, 0 100%, 0 41px);
    z-index: 2;
  }

  &__container-border {
    cursor: pointer;
    position: absolute;
    width: 320px;
    height: 480px;
    background-color: $colorMain;
    border-radius: 14px;
    clip-path: polygon(43px 0, 100% 0, 100% 100%, 0 100%, 0 43px);
    z-index: 1;

    &_hovered {
      background-color: $colorHovered;
    }

    &_selected {
      background-color: $colorSelected;
    }

    &_selected-hovered {
      background-color: $colorSelectedHovered;
    }

    &_disabled {
      background-color: $colorDisabled;
      cursor: default;
    }
  }

  &__container {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 312px;
    height: 472px;
    background: url("../images/Photo.png") center 203px no-repeat;
    z-index: 3;
    background-color: $colorWhite;
    border-radius: 11px;
    clip-path: polygon(41px 0, 100% 0, 100% 100%, 0 100%, 0 41px);
    cursor: pointer;

    &_hovered,
    &_selected,
    &_selected-hovered,
    &_disabled {
      clip-path: polygon(35px 0, 100% 0, 100% 100%, 0 100%, 0 35px);
    }

    &_disabled {
      opacity: 0.5;
      cursor: default;
    }

  }

  &__description {
    font-family: $trebuchet;
    font-style: normal;
    font-weight: normal;
    font-size: $textSize;
    color: $colorGrey;
    margin: 18px 0 0 46px;

    &_selected-hovered {
      color: $colorSelectedHovered;
    }

    &_disabled {
      opacity: 0.5;
      cursor: default;
    }
  }

  &__title {
    font-family: $trebuchet;
    font-style: normal;
    font-weight: bold;
    font-size: $titleSize;
    color: $colorBlack;
    margin: 7px 0 0 44px;

    &_disabled {
      opacity: 0.5;
    }
  }

  &__taste {
    font-family: $trebuchet;
    font-style: normal;
    font-weight: bold;
    font-size: $tasteSize;
    color: $colorBlack;
    margin: 0px 0 0 46px;

    &_disabled {
      opacity: 0.5;
    }
  }

  &__gift {
    font-family: $trebuchet;
    font-style: normal;
    font-weight: normal;
    font-size: $giftSize;
    color: $colorGrey;
    margin: 14px 0 0 47px;

    &_disabled {
      opacity: 0.5;
    }
  }

  &__weight-circle {
    width: 80px;
    height: 80px;
    background-color: $colorMain;
    border-radius: 100%;
    margin: 225px 0 0 220px;
    position: relative;
    cursor: pointer;

    &_hovered {
      background-color: $colorHovered;
    }

    &_selected {
      background-color: $colorSelected;
    }

    &_selected {
      background-color: $colorSelectedHovered;
    }

    &_disabled {
      background-color: $colorDisabled;
      cursor: default;
    }
  }

  &__weight {
    font-family: $trebuchet;
    font-style: normal;
    font-weight: normal;
    font-size: $weightSize;
    line-height: 22px;
    color: $colorWhite;
    position: absolute;
    left: 10px;
    top: 23px;
  }

  &__weightUe {
    font-family: $trebuchet;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: $colorWhite;
    position: absolute;
    left: 31px;
    top: 52px;
  }

  &__footer {
    width: 320px;
    font-family: $trebuchet;
    font-style: normal;
    font-weight: normal;
    font-size: $descriptionSize;
    color: $colorWhite;
    text-align: center;
    position: absolute;
    top: 495px;

    &_disabled {
      color: $colorFooterDisabled;
    }
  }

  &__footer-button {
    color: $colorMain;
    text-decoration: underline;
    text-decoration-style: dashed;
    cursor: pointer;

    &_hovered {
      color: $colorHovered;
    }
  }
}