$h1Size: 36px;
$titleSize: 48px;
$weightSize: 42px;
$tasteSize: 24px;
$textSize: 16px;
$giftSize: 14px;
$descriptionSize: 13px;

$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorGrey: #666666;
$colorMain: #1698d9;
$colorHovered: #2EA8E6;
$colorSelectedHovered: #E52E7A;
$colorSelected:#D91667;
$colorFooterDisabled: #FFFF66;
$colorDisabled: #B3B3B3;

$trebuchet: TrebuchetMS,
Arial,
sans-serif;