include ../components/cat-card/cat-card.pug
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1.0, width=device-width')
    meta(name='keywords' content='cat page')
    meta(name='description' content='cat page')
    title Cat Page
    link(rel='stylesheet' href='./cat.scss')
    link(rel='shortcut icon' type='image/x-icon' href='/../images/favicon.ico')
    script(src='./cat.js')
  body.cat-page
    .cat-page__content
      .cat-page__title
      .cat-page__cards
        .cat-page__card-fuagra
          +cat-card({
            description: 'Сказочное заморское яство',
            title: 'Нямушка',
            taste: 'с фуа-гра',
            gift: '10 порций мышь в подарок',
            weight: '0,5',
            weightUe: 'кг',
            footer: 'Чего сидишь? Порадуй котэ,',
            footerButton: 'купи.',
            isDisabled: true,
          })
        .cat-page__card-fish
        .cat-page__card-chicken