@import "../styles/normalize.scss";
@import "../styles/fonts.scss";
@import "../styles/variables.scss";

@import "../components/cat-card/cat-card.scss";

.cat-page {
  background: url('../images/Pattern.jpg');

  &__cards {
    display: flex;
    justify-content: space-between;
  }
}